<mat-toolbar class="colorTool">
    <span>Respuesta</span>
</mat-toolbar>

<div style="width: 40%; margin-left: auto; margin-right: auto;padding:50px;">

    <button mat-raised-button color="primary" (click)="openDialog()">Agregar respuesta</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top:10px;">

        <ng-container matColumnDef="idTipoRespuesta">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let respuesta"> {{respuesta.idTipoRespuesta}} </td>

        </ng-container>

        <ng-container matColumnDef="tipoRespuesta">
            <th mat-header-cell *matHeaderCellDef> Respuesta </th>
            <td mat-cell *matCellDef="let respuesta"> {{respuesta.tipoRespuesta}} </td>

        </ng-container>

        <ng-container matColumnDef="descripción">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let respuesta"> {{respuesta.descripcion}} </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>