.example-spacer {
    flex: 1 1 auto;
}
.btn {
    background-color: transparent !important;
    color: #00233b !important;
    cursor: pointer;
    border: 0px solid;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .first {
    -webkit-transition: 300ms ease-in-out, color 300ms ease-in-out;
    transition: 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    
    color: #ff6600 !important;
  }